<footer class="footer">
    <div="footer-container">
                <div class="footer-text-center">
                    <p class="text-muted">©2024 Indie Ignite Created by: Spencer Klinkowize, Michael Freeman,
                        Christopher Cuellar, Anthony
                        Santos, and Nicole
                        Greenspun, All rights reserved.</p>
                    <div class="contact">
                        <h2>Reach out via email with any questions and we will get back to you in 3-5 business days!
                        </h2>
                        Email: <a href="mailto:indieignite2024@gmail.com">indieignite2024@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</footer>