<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/gamePage.css">
    <title>Document</title>
</head>

<body>
    <div class="pageContainer">
        <aside class="sidebarLeft">
            <div class="aboutMe" >
                <a href="#">mikef</a>
                <h5>About Me:</h5>
                <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                <p>
            </div>
            <div class="otherGamesContainer">
                <h5 class="otherGames">Other Games:</h5>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>

            </div>
        </aside>


        <div class="displayContainer">
            <h1 class="gameTitle">GAME TITLE HERE</h1>

            <div class="featuredImageContainer">

                <img class="featuredImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
            </div>
            <button class="slide prev"><i class="icon">prev</i></button>
            <div class="smallImageContainer">
               
                <img class="smallImage"
                    src="/assets/images/background-login.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/gamepage.jpeg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/logo.png"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/profileBACKGROUND.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/output.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/treegamebackground.jpeg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">

            </div>
            <button class="slide next"> <i class="icon">next</i></button>

        <div class="descriptionContainer">
            <h2> "TITLE PARTIAL" Description</h2>
            <p> "description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here description partial here</p>
                <h3>Other Game Info</h3>
                <p>Other Game info goes here</p>
                <h3>Minumum Specs Required</h3>
                <p>specs goes here</p>
        </div>

        </div>
        <aside class="sidebarRight">

            <h2 class="supportHeader">Support This Game!</h2>
            <h6>(Support Packages Available for Purchase Soon!)</h5>
            <div class="supportContainer">
                <div class="levelOne supportPackage">
                    <h5>level one</h5>
                   <p>free shirt</p>
                   <p>early access content</p>
                   <button>$4.99</button>
                </div>
                <div class="levelOne supportPackage">
                    <h5>level two</h5>
                   <p>level one +</p>
                   <p>behind the scenes content</p>
                  <button>$9.99</button>
                </div>
                <div class="levelOne supportPackage">
                    <h5>level three</h5>
                   <p>level one, two +</p>
                   <p>1 hour zoom Q/A</p>
                   <button>$19.99</button>
                </div>
               
            </div>
        </aside>


    </div>
    <div class="bottomContainer">


        <div class="reviewContainer">
            <h2>Leave Review</h2>
            <input class="reviewBox" type="text" placeholder="lorem ipsum ">
        </div>
    </div>

    <script src="/assets/js/game.js"></script>
</body>

</html>