<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/gamePage.css">
    <title>Document</title>
</head>

<body>
    <div class="pageContainer">
        <aside class="sidebarLeft">
            <div class="aboutMe">
                <a href="#">mikef</a>
                <h5>About Me:</h5>
                <p> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                <p>
            </div>
            <div class="otherGamesContainer">
                <h5 class="otherGames">Other Games:</h5>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>
                <p>lorem ipsum</p>

            </div>
        </aside>


        <div class="displayContainer">
            <h1 class="gameTitle">GAME TITLE HERE</h1>

            <div class="featuredImageContainer">
                
                <img class="featuredImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
            </div>
              <button class="slide prev"><i class="icon">prev</i></button>
            <div class="smallImageContainer">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">
                <img class="smallImage"
                    src="/assets/images/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg"
                    alt="">

            </div>
            <button class="slide next"> <i class="icon">next</i></button>
        </div>
        <aside class="sidebarRight">

            <h2 class="supportHeader">Support This Game!</h2>

            <div class="supportContainer">
                <div class="levelOne supportPackage">
                    <h5>level one</h5>
                    <ul>
                        <li>free early access</li>
                        <li>t shirt</li>

                    </ul>
                </div>
                <div class="levelTwo supportPackage">
                    <h5>level one</h5>
                    <ul>
                        <li>free early access</li>
                        <li>t shirt</li>

                    </ul>
                </div>
                <div class="levelThree supportPackage">
                    <h5>level one</h5>
                    <ul>
                        <li>free early access</li>
                        <li>t shirt</li>

                    </ul>
                </div>
            </div>
        </aside>


    </div>

    <div class="reviewContainer">
        <h2>Leave Review</h2>
        <input class="reviewBox" type="text" placeholder="lorem ipsum ">
        <h2>Leave Review</h2>
        <input class="reviewBox" type="text" placeholder="lorem ipsum ">





    </div>

        <script src="/assets/js/game.js"></script>
</body>

</html>