.navbar {
   width: 100vw;
    position: fixed; 
    z-index: 2;
    top: 0;
}
.logo {
    margin-right:15px;
}
.navbar-container {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}

/* .navbar-brand {
    font-size: 24px;
    color: white;
    text-decoration: none;
   float: left;
   align-items: center;
}

.navbar-links a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    text-decoration: underline;
}  */


