body {
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5)), url(../images/profileBACKGROUND.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

html {
    height: 100%;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.profile-image-section {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-about-section {
    background: rgba(163, 78, 237, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.description-box {
    background: rgba(163, 78, 237, 0.8); 
    border-radius: 10px;
    padding: 10px;
}

.profile-creations-section {
    grid-row: 2;
    background: rgba(163, 78, 237, 0.8);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creation-item a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .profile-container {
        display: block;
    }
    .profile-image-section {
        margin-bottom: 20px;
    }
}


