body {
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5)), url(../images/profileEDIT.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.profile-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.image-preview-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-image-preview {
    width: 100%;
    height: auto;
}

.edit-section, .edit-creations {
    width: 80%;
    background-color: rgba(154, 59, 183, 0.8);
    padding: 10px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

.creation-input {
    margin-top: 5px;
}

.add-creation-btn, .save-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
