.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: calc(100vh - 40px);
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.profile-image img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover; 
}

.upload-form {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form label {
    margin-bottom: 10px;
}

.upload-form input[type="file"] {
    cursor: pointer;
}

.upload-form button {
    margin-top: 10px;
    padding: 8px 0;
    width: 100%;
    background-color: #6441A5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-info {
    width: 100%;
    text-align: center;
}

.edit-input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

.save-btn {
    width: 100%;
    padding: 10px;
    background-color: #6441A5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-creations {
    width: 100%;
    margin-top: 20px;
}

.creation-item {
    margin: 10px 0;
    text-align: center;
}

.creation-item a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

body {
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5)), url(../images/gamepage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
}
