body {
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5)), url(../images/profileBACKGROUND.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color: white;
}

html {
    height: 100%;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    
}
.textContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.editBtn {
    float:right;
    margin-top: 25px;
    margin-right: 20px;
    height: 50px;
    width: 100px;
    background-image: linear-gradient(rgba(159, 90, 255, 0.5), rgba(67, 30, 126, 0.5)), url(../images/profileBACKGROUND.jpg);
    border-radius: 10%;
}
.editBtn a{
    color:white;
}
.profile-image-section {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-about-section {
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5));
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 50vw;
}

.description-box {
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5));
    border-radius: 10px;
    padding: 10px;
}

.profile-creations-section {
    grid-row: 2;
    background-image: linear-gradient(rgba(131, 88, 248, 0.5), rgba(30, 0, 128, 0.5));
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.creation-item a {
    color: white;
    text-decoration: none;
    margin-top: 10px;

}

.userContainer {
    margin-top: 100px;
}

/* @media (max-width: 768px) {
    .profile-container {
        display: block;
    }
    .profile-image-section {
        margin-bottom: 20px;
    }
} */


@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
    }
    .profileContainer {
        margin-top: 100px;
    }
    .profile-image {
        width: unset;
        height: unset;
        height: 300px;
        width: 300px;
       
    }
    h2 {
        text-align: center;
    }
    .profile-about-section, .profile-creations-section {
        margin: auto;
        width: 80%;  
        
    }

    .creations-header {
        margin-top: 100px;
    }
}

