body {
    background-image: linear-gradient(rgba(36, 24, 67, 0.5), rgba(30, 0, 128, 0.5)), url(../images/output.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color:rgb(239, 225, 252);
    overflow-x: hidden;
}
.container{
    padding-top: 85px;
}
.content-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.upload-section,
.supporter-packages {
    background-color: #9370db;
    border-radius: 5px;
    padding: 20px;
    width: 45%;
}
#drop_zone {
    border: 2px dashed rgb(106, 24, 145);
    width: 300px;
    height: 100px;
}
#drop_zone p {
    text-align: center;
    margin-top: 30px;
}

::-webkit-scrollbar {
    display: none;
}

h1{

    font-family: "Kode Mono", serif;
}


#drop_zone {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, height 0.5s ease-in-out;
}

@media (max-width: 1200px) {
    #drop_zone {
        min-height: 100px;
    }
    .supporter-packages {
        width: 90%;
       
        
    }
    .upload-section {

        width: 90%;    
    }
}
@media (max-width: 576px) {
    #drop_zone {
        min-height: 80px;
        min-width: 40px;
    }
}



.content-container,
.supporter-packages {

    margin: 0 auto;
}